<!-- header -->
<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 left">
                <div class="avatar">
                    <img src="assets/mike.png" class="img-responsive" alt="Profile Picture" />
                </div>
            </div>
            <div class="col-md-7 right">
                <h1 class="hide">Mike Mainier</h1>
                <h1 class="heading">HELLO, IM MIKE!</h1>
                <p>An Agile Project Manager from Pittsburgh. Want to know more about me?</p>
                <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
		<!-- about-me -->
		<section class="section about-me" id="about-me">
			<div class="container">
				<h2 class="heading">ABOUT ME</h2>
				<p>Hello!  I've worked over the past 9 years for corporations and tech start-ups in the areas of e-Commerce, online education, robotics, gamification, and healthcare.  I understand the ever changing world of  business/marketing/sales and how it all fits togethger. As a troubleshooter at heart, I've managed and supported projects from conception through execution to delivery. </p>
				
				<div class="row interest">
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-cogs"></span> Background</h3>
						<p>My name is Michael Mainier and I'm passionate about great product design, .</p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-film"></span> Multimedia</h3>
						<p>Fulfilled my dream of being a rockstar by singing .</p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-users"></span> People</h3>
						<p> Promote a collaborative environment where knowledge is shared amongst the team. </p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-github-square"></span> Geek</h3>
						<p>Lifehacker at heart.  I'm learning Ruby on Rails and built this website over a weekend.  Own a rasberry pi and love to meetup with fellow peers </p>
					</div>
			</div>
			 <div class="social">
					<h3 class="sub-heading">Social Stream:</h3>
					<ul class="social-icons">
						<li><a href="https://twitter.com/mmainier"><i class="fa fa-twitter fa-3x"></i></a></li>
						<li><a href="https://plus.google.com/+MikeMainier/about"><i class="fa fa-google-plus fa-3x"></i></a></li>
						<li><a href="https://linkedin.com/in/michaelmainier"><i class="fa fa-linkedin fa-3x"></i></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- end about-me -->

		<!-- resume -->
		<section class="section resume" id="resume">
			<div class="container">
				<h2 class="heading">RESUME</h2>
				<ul class="timeline">
					<li class="year">2013</li>
					<li class="event">
						<h3 class="heading">Agile Project Lead</h3>
						<span class="month"><i class="icon icon-calendar"></i>September 2013 - present</span>
						<p>Operationalize product strategy and roadmap for a leading  educational SaaS product</p>
					</li>
					<li class="event">
						<h3 class="heading">Quality Assurance Lead</h3>
						<span class="month"><i class="icon icon-calendar"></i>January 2007 - September 2007</span>
						<p>Dynamically procrastinate proactive methodologies and multimedia based materials. Phosfluorescently incentivize magnetic leadership skills before inexpensive users.</p>
					</li>
					<li class="year">2006</li>
					<li class="event">
						<h3 class="heading">Internship Program at Visual Dream Inc.</h3>
						<span class="month"><i class="icon icon-calendar"></i>August 2006 - December 2006</span>
						<p>Globally transition unique solutions vis-a-vis dynamic niche markets. Interactively recaptiualize superior leadership without end-to-end catalysts for change. Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
					</li>
					<li class="event">
						<h3 class="heading">Freelance Project</h3>
						<span class="month"><i class="icon icon-calendar"></i>June 2006 - August 2006</span>
						<p>Globally transition unique solutions vis-a-vis dynamic niche markets. Interactively recaptiualize superior leadership without end-to-end catalysts for change. Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
						<figure>
							<img src="assets/img/skills.png" alt="Skills" />
						</figure>						
					</li>
					<li class="year">2003</li>
					<li class="event">
						<h3 class="heading">University of Design</h3>
						<span class="month"><i class="icon icon-calendar"></i>October 2003 - May 2006</span>
						<p> Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
					</li>
				</ul>

			</div>
		</section>
		<!-- end resume -->

		<!-- projects -->
		<section class="section projects" id="projects">
			<div class="container">
				<h2 class="heading">PROJECTS</h2>
				<p>'I got 99 projects and deadline Son' is my mantra.  Seriously, managing a project takes experience, communication, and empathy for everyone involved.  Working with high performance teams doesn't have to be hard if you can connect with everyone on a personal level.  It becomes a family who works together and makes things happen.  Here are a few projects I'm working on today</p>
				<div class="row project-list">
					<ul class="project-grid project-effect-shrink">
						<li class="col-md-6">
							<figure>
								<img src="assets/mikesite.png" alt="Big Thing Landing Page"/>
								<figcaption>
									<div class="project-item-info">
										<h3 class="sub-heading">Personal Website</h3>
										<p>Created using twitter bootstrap, this site was my head-first dive into ruby on rails!</p>
										<a href="#" class="btn btn-default">View Details</a>
									</div>
								</figcaption>
							</figure>
						</li>
						<li class="col-md-6">
							<figure>
								<img src="assets/TTM.png" alt="Tiick Tock Coming Soon Page"/>
								<figcaption>
									<div class="project-item-info">
										<h3 class="sub-heading">Think Through Math Website</h3>
										<p>I lead projects to help kids learn math.  TTM supliments common core curiculum for over 2 million students nationwide through Algebra I.</p>
										<a href="http://www.thinkthroughmath.com" class="btn btn-default">View Details</a>
									</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>	
		</section>
		<!-- end projects -->


		<!-- contacts -->
		<section class="section contacts" id="contacts">
			<div class="container">
				<h2 class="heading">CONTACTS</h2>
				<p>Continually promote world-class methodologies through equity invested results. Monotonectally target stand-alone ideas via cross-media collaboration and idea-sharing. Seamlessly grow innovative markets.</p>
				<div class="row google-map">
					<div class="map-canvas"></div>
				</div>




					<div class="col-md-6">
						<p>Reach out with questions, kudos, suggestions and feedback!</p>
						<div class="address-lines">
							<p>Email: <a href="mailto:mikemainier@gmail.com">mikemainier@gmail.com</a></p>
						</div>
					</div>
				</div>
			</div>	
		</section>
		<!-- end contacts -->

		<!-- footer -->
		<footer class="footer">
			<p>Copyright 2013 The Develovers. All Rights Reserved.</p>
		</footer>
		<!-- end footer -->

	</div>
	<!-- END WRAPPER -->