<!-- header -->
<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 left">
                <div class="avatar">
                    <img src="assets/mike.png" class="img-responsive" alt="Profile Picture" />
                </div>
            </div>
            <div class="col-md-7 right">
                <h1 class="hide">Mike Mainier</h1>
                <h1 class="heading">HELLO, IM MIKE!</h1>
                <p>An Agile Project Manager from Pittsburgh. Want to know more about me?</p>
                <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
		<!-- about-me -->
		<section class="section about-me" id="about-me">
			<div class="container">
				<h2 class="heading">ABOUT ME</h2>
				<p>Hello!  I've worked over the past 9 years for corporations and tech start-ups in the areas of e-Commerce, online education, robotics, games, and healthcare.  I understand the ever changing world of  business/marketing/sales and how it all fits together. As a troubleshooter at heart, I've managed and supported projects from conception through execution to delivery. </p>
				
				<div class="row interest">
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-cogs"></span> Me </h3>
						<p> I became a first time father in 2013. In April, my wife Emily and I welcomed our son Michael Samuel into the world and he's kept us smiling ever since. I grew up on the east side of Pittsburgh and have been apart of the tech scene here since 2006. After receiving my Doctorate in Information Systems in 2011, I've continued my pursuit of education by working beside high performance teams. </p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-film"></span> Creative</h3>
						<p>Guitars, synthesizers, Garageband, Photoshop...these are a few of my favorite things.  I've been a professional musician for almost 20 years and have been lucky enough to combine my creative juices on several multimedia projects, both personal and professional. </p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-users"></span> People</h3>
						<p> Innovation starts when ideas and individuality are nurtured, success happens when employees are empowered.   </p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="fa fa-github-square"></span> Geek</h3>
						<p>I'm a lifehacker at heart.  I'm learning Ruby on Rails and built this website over a weekend. Yes, I own a Raspberry Pi and TED talks are my thing.  Anyone up for a game of Catan? #largestarmy</p>
					</div>
			</div>
			 <div class="social">
					<h3 class="sub-heading">Social Stream:</h3>
					<ul class="social-icons">
						<li><a href="https://twitter.com/mmainier"><i class="fa fa-twitter fa-3x"></i></a></li>
						<li><a href="https://plus.google.com/+MikeMainier/about"><i class="fa fa-google-plus fa-3x"></i></a></li>
						<li><a href="https://linkedin.com/in/michaelmainier"><i class="fa fa-linkedin fa-3x"></i></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- end about-me -->

		<!-- resume -->
		<section class="section resume" id="resume">
			<div class="container">
				<h2 class="heading">RESUME</h2>
				<ul class="timeline">
					<li class="year">2013</li>
					<li class="event">
						<h3 class="heading">Agile Project Lead @ Think Through Math</h3>
						<span class="month"><i class="icon icon-calendar"></i>September 2013 - present</span>
						<p>Currently lead several projects within a Ruby on Rails team including transitioning to responsive design.</p>
						<a href="https://github.com/Mainier"><i class="fa fa-github-alt fa-2x"></i></a>
					</li>
					<li class="event">
						<h3 class="heading">Supervisor, Software Quality Assurance @ TMG Health</h3>
						<span class="month"><i class="icon icon-calendar"></i>July 2012 - September 2013</span>
						<p>Responsible for ensuring quality of groundbreaking software products through leading implementation of a new software quality assurance program and team of twelve QA analysts.</p>
					</li>
					<li class="event">
						<h3 class="heading">Quality Coordinator @ Highmark</h3>
						<span class="month"><i class="icon icon-calendar"></i>April 2012 - July 2012</span>
						<p>Accountable for all Quality Controls related to HighmarkBCBS.com, MyBenefitsHome.com development activities of customer facing Member website portal across all lifecycle stages and across all testing teams including test engineering, test strategy, test planning, test data planning, defect coordination, quality control, test execution, and status reporting.</p>
					</li>
					<li class="event">
						<h3 class="heading">Quality Assurance Lead @ Bossa Nova Robotics</h3>
						<span class="month"><i class="icon icon-calendar"></i>August 2011 - January 2012</span>
						<p>Developed full-scale testing plans for physical robots, online game, marketing website, robot firmware, desktop application, PC/Mac driver and led both internal and partnered team members to ensure product offering is of the highest quality for customers.</p>					
					</li>
					<li class="event">
						<h3 class="heading">Senior Quality Assurance Analyst @ EDMC</h3>
						<span class="month"><i class="icon icon-calendar"></i>October 2009 - August 2011</span>
						<p>Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
					</li>
					<li class="year">2009</li>
					<li class="event">
						<h3 class="heading">Usability Systems Analyst @ Guru.com</h3>
						<span class="month"><i class="icon icon-calendar"></i>May 2007 - November 2009</span>
						<p>Represented Guru.com providing exceptional Level 2/3 technical, marketing, and sales support for 900K+ new and existing members. Conducted validation of website to ensure functional requirements are met on various browsers, hardware, platforms, and networks. </p>
					</li>
					<li class="event">
						<h3 class="heading">Operations Manager @ FedEx</h3>
						<span class="month"><i class="icon icon-calendar"></i>June 2004 - May 2007</span>
						<p>Recruited out of college into FedEx Leadership Development Program to turn around operations of three underperforming centers in the Pittsburgh district that were negatively impacting district profitability. </p>
					<li class="year">2004</li>
				</ul>

			</div>
		</section>
		<!-- end resume -->

		<!-- projects -->
		<section class="section projects" id="projects">
			<div class="container">
				<h2 class="heading">PROJECTS</h2>
				<p>Leading a project takes experience, communication, and empathy for everyone involved.  Working with high performance teams doesn't have to be hard if you can connect with everyone on a personal level.  It becomes a family who works together and makes things happen.  Here are a few projects I'm working on today.</p>
				<div class="row project-list">
					<ul class="project-grid project-effect-shrink">
						<li class="col-md-6">
							<figure>
								<img src="assets/mikesite.png" alt="Big Thing Landing Page"/>
								<figcaption>
									<div class="project-item-info">
										<h3 class="sub-heading">Personal Website</h3>
										<p>Created using twitter bootstrap, this site was my head-first dive into ruby on rails!</p>
										<a href="#" class="btn btn-default">View Details</a>
									</div>
								</figcaption>
							</figure>
						</li>
						<li class="col-md-6">
							<figure>
								<img src="assets/TTM.png" alt="Tiick Tock Coming Soon Page"/>
								<figcaption>
									<div class="project-item-info">
										<h3 class="sub-heading">Think Through Math Website</h3>
										<p>I lead projects to help kids learn math.  TTM supliments common core curiculum for over 2 million students nationwide through Algebra I.</p>
										<a href="http://www.thinkthroughmath.com" class="btn btn-default">View Details</a>
									</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>	
		</section>
		<!-- end projects -->


		<!-- contacts -->
		<section class="section contacts" id="contacts">
			<div class="container">
				<h2 class="heading">CONNECT</h2>
					<p>Reach out with questions, kudos, suggestions and feedback!</p>
						<div class="address-lines">
							<p>Email: <a href="mailto:mikemainier@gmail.com">mikemainier@gmail.com</a></p>
						</div>
				<div class="row google-map">
					<div class="map-canvas"></div>
					</div>
				</div>
			</div>	
		</section>
		<!-- end contacts -->

		<!-- footer -->
		<footer class="footer">
			<p>Copyright 2014 Mike Mainier. All Rights Reserved.</p>
		</footer>
		<!-- end footer -->

	</div>
	<!-- END WRAPPER -->