<div>
	<div class="span 6 offset1 text-center">
	<h1 class="stolen-h1">Hello! I'm Mike.  Welcome to my Page
	</h1>
<br/>
		<h2>
			Comming soon
		</h2>
<br/>

<a href="https://twitter.com/mmainier" i class="fa fa-twitter-square fa-5x center"></i></a>

<a href="https://linkedin.com/in/michaelmainier" i class="fa fa-linkedin-square fa-5x center"></i></a>
</div>
