<div>
	<div class="span 6 offset1 text-center">
	<h1 class="stolen-h1">Hello! I'm Mike.  Welcome to my Page
	</h1>
<br/>
		<h2>
			Comming soon
		</h2>


<div class="span6 offset3">
	<div class="row">
			<%= image_tag("mike.jpg", :size => "160x100", :alt => "Picture of Mike") %>
			<div class="roles">
				<h2>Michael Mainier</h2>
                                <p>
					<h3 class="stolen-h3">Musician and Agile Project Manager. Currently managing educational SaaS products using Ruby on Rails.
					</h3>



<br/>

<a href="https://twitter.com/mmainier" i class="fa fa-twitter-square fa-5x center"></i></a>

<a href="https://linkedin.com/in/michaelmainier" i class="fa fa-linkedin-square fa-5x center"></i></a>
</div>
